services:

  elasticsearch:
    image: "{{ elasticsearch_image }}"
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD={{ elastic_password }}
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - elk

  logstash:
    image: "{{ logstash_image }}"
    container_name: logstash
    depends_on:
      - elasticsearch
    environment:
      - LS_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "5044:5044"
      - "9600:9600"
    volumes:
      - "{{ elk_compose_dir }}/logstash/pipeline:/usr/share/logstash/pipeline"
    networks:
      - elk

  kibana:
    image: "{{ kibana_image }}"
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS="{{ es_in_kibana_url }}"
    ports:
      - "5601:5601"
    volumes:
      - "{{ kibana_config_local_path }}:/usr/share/kibana/config/kibana.yml"
    depends_on:
      - elasticsearch
    networks:
      - elk

  elastic-agent:
    image: "{{ elastic_agent_image }}"
    container_name: elastic-agent
    depends_on:
      - elasticsearch
      - kibana
    environment:
      - FLEET_ENROLLMENT_TOKEN={{ kibana_token }}
      - FLEET_URL=http://kibana:5601
    networks:
      - elk

volumes:
  esdata:

networks:
  elk: