input {
  beats {
    port => {{ beats_port | default(5044) }}
  }
}

output {
  stdout { codec => rubydebug }
  elasticsearch {
    hosts => ["{{ es_url }}"]
    user => "{{ es_user | default('elastic') }}"
    password => "{{ elastic_password }}"
  }
}
