# ===== Logstash setup =====
- name: Deploy Logstash pipeline config
  ansible.builtin.template:
    src: "logstash.conf.j2"
    dest: "{{ elk_compose_dir }}/logstash/pipeline/logstash.conf"
    mode: '0644'
  vars:
    beats_port: 5044
    es_host: "{{es_url}}"
    es_user: "elastic"
    es_password: "{{ elastic_password }}"
